@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotating 10s linear infinite;
}

a.is-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}