@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;

  section.section {
    flex-grow: 1;
  }
  
  .chat-option-menu.navbar-item {
    margin-left: auto;
  }

  /* temp. fix to keep navbar from getting huge on small screen devices 
      if the right menu is put in the proper navbar-end container */
  .navbar-brand {
    /* margin-right: 0; */
    width: 100%;
  }

  .dropdown-item .menu-icon {
    padding-right: .5em;
  }
  .dropdown-menu {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }
}

.is-disabled {
  pointer-events: none;
  cursor: default;
  opacity: .65;
}

.rotate {
  animation: rotating 10s linear infinite;
}

.greyscale {
  filter: grayscale(100%);
}

.user-message {
  max-width: 90%;
  margin-right: 0;
  margin-left: auto;
  width: fit-content;
}

.assistant-message {
  max-width: 90%;
  width: fit-content;
}

/* Show the edit button on hover of the user message */
.user-message:hover .editbutton {
  /* TODO: add when ready: display: block !important; */
  text-decoration: none !important;
}

/* Swap the border on user messages to the other side */
.user-message>.message-body {
  border-width: 0 4px 0 0 !important;
}

/* Show the edit button on hover of the chat name */
.chat-header:hover .editbutton {
  display: inline !important;
  text-decoration: none !important;
}

/* Style the chat input */
.chat-input {
  overflow-y: hidden;
  resize: vertical;
}

$footer-padding: 1.5rem 1.5rem;
$fullhd: 2000px;
$modal-content-width: 1000px;

@import "/node_modules/bulma/bulma.sass";

/* Pulsing effect - background goes to red color and back */
.is-pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: initial;
    /* Default color */
  }

  50% {
    background-color: $danger;
    /* Red */
  }

  100% {
    background-color: initial
      /* Default color */
  }
}

/* Support for dark mode */
$modal-background-background-color-dark: rgba($dark, 0.86) !default; // remove this once a new version of bulma-prefers-dark is released
@import "/node_modules/bulma-prefers-dark/build/bulma-prefers-dark.sass";

/* For the message notes on light mode */
.message-note, .running-totals {
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  /* For the message notes on dark mode */
  .message-note, .running-totals {
    opacity: 0.5;
  }
  .modal-card-body {
    // remove this once https: //github.com/jloh/bulma-prefers-dark/pull/90 is merged and released
   background-color: $background-dark;
  }
}



/* Support for copy code button */
.code-block>button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* Make menu stick on the left side */
.menu {
  position: sticky;
  top: 1rem;
}

/* Delete button on side menu chat name */
.menu-list {
  a:hover {
    .delete-button {
      display: block !important;
      background-color: initial;
    }
  }
}

/* Loading chat messages */
.is-loading {
  opacity: 0.5;
  @include loader;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.25em;
  display: inline-block;
}

/* Support for fullwidth dropdowns, see https://github.com/jgthms/bulma/issues/2055 */
.dropdown.is-fullwidth {
  display: flex;

  .dropdown-trigger,
  .dropdown-menu {
    width: 100%;
  }
}
